.header{
    margin-left: 13%;
}
table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 5%;
}
td, th {
    // border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    box-shadow: 0 0 10px rgb(201, 192, 192);
    border-radius: 5px;
    
  }