<div class="container">
    <table>
        <tr class="header">
        <th>orderNo</th>
        <th>CustName</th>
        <th>itemName</th>
        <th>Price</th>
        <th>status</th>  
    </tr>
    <tr *ngFor="let i of order"> 
        <td>{{i.orderNo}}</td>
        <td>{{i.CustName}}</td>
        <td>{{i.itemName}}</td>
        <td>{{i.Price}}</td>
        <td>{{i.status}}</td>
        <td> 
            <p *ngIf = "i.status == 'order'" (click) = "changeOrder(i)"> In Queue</p> 
            <p *ngIf = "i.status == 'prepairing'" >prepairing</p>
            <p *ngIf = "i.status == 'served'" >Deliverd</p>
        </td>
         
    </tr>
</table>
</div>

